//_base.scss 全站設定

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: $w-100;
  height: auto;
  display: block;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, .h1{
  font-size: $font-size-xx-l; // 64
  @include pad{
    font-size: $font-size-x-l;
  }
  @include mobile{
    font-size: $font-size-larger;
  }
}

h2, .h2{
  font-size: $font-size-x-l; // 48
  @include pad{
    font-size: $font-size-larger;
  }
  @include mobile{
    font-size: $font-size-l;
  }
}

h3, .h3{
  font-size: 36px; // 36
  @include pad{
    font-size: $font-size-m;
  }
  @include mobile{
    font-size: $font-size-base;
  }
}

h4, h4{
  font-size: $font-size-l;

  @include pad{
    font-size: $font-size-m;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  @include pad(){
      max-width: 690px;
  }
  @include mobile(){
      max-width: 345px;
  }

  @include x-mobile(){
      max-width: 290px;
  }
}




