.feature{

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        margin-bottom: 60px;

        @include pad{
            margin-bottom: 32px;
        }

        @include mobile{
            margin-bottom: 20px;
        }
    }

    &__list{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

        @include pad{
            flex-direction: row-reverse;
            // flex-wrap: wrap-reverse;
        }

    }

    &__item{
        width: 25%;
        padding: 0 calc((25% - 208px) / 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include pad{
            width: 50%;
            padding: 0 calc((50% - 237px) / 2);
        }

        @include mobile{
            width: 100%;
            padding: 0 calc((100% - 237px) / 2);
        }
    }

    &__img{
        width: 100px;
        height: 100px;
        position: relative;

        @include pad{
            width: 80px;
            height: 80px;
        }

        img{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content-title{
        margin-bottom:4px;

        @include pad{
            margin-bottom: 8px;
        }
    }


}