.form{


    &__label{
        font-weight: 600;
        @include pad{
            font-size: $font-size-x-sm;
        }
    }

    &__input-content{
        padding: 14px 16px;
        font-size: $font-size-base;
        width: 100%;
        margin-bottom: 16px;

        @include pad{
            padding: 8px 12px;
            font-size: $font-size-x-sm;
            margin-bottom: 8px;
        }

    }

    &__textarea-content{
        padding: 14px 16px;
        font-size: $font-size-base;
        width: 100%;
        resize: none;

        @include pad{
            padding: 8px 12px;
            font-size: $font-size-x-sm;
            margin-bottom: 8px;
        }
    }

    &__check{
        display: flex;
    }

    &__submit{
        display: block;
        margin:42px auto 0 auto;
        width: 350px;
        height: 54px;
        font-size: $font-size-base;
        background: $color-primary;
        border: 0px;
        color: #ffffff;
        font-weight: 600;
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        @include pad{
            margin:20px auto 0 auto;
            width: 200px;
            height: 36px;
            font-size: $font-size-x-sm;
        }

        @include mobile{
            margin:24px auto 0 auto;
            width: 165px;
            font-size: $font-size-x-sm;
        }
    }

}